{% block form_row %}
{% spaceless %}
    <div class="form-group-4-8">
        {{ form_label(form) }}
        <div class="input-wrapper">
        	{{ form_widget(form) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}


{% block form_widget_simple %}
<input 
	class="input-text"
	type="{{ type|default('text') }}" 
	{{ block('widget_attributes') }} 
	{% if value is not empty %}value="{{ value }}" {% endif %}
/>
{% endblock form_widget_simple %}


{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button class="btn" type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}