{% set route_current = route_current|default('index') %}

<nav 
	id="{{ HTMLid|default('') }}" 
	class="navbar navbar-default {{ HTMLclass|default('') }}"
>
	<div class="navbar-header">
		<ul class="nav navbar-nav">
			<li>
				<a href="">test</a>
			</li>
		</ul>
		<a href="#{{ HTMLid|default('') }}-navbar-collapse" class="navbar-toggle collapsed" 
			data-toggle="collapse" aria-expanded="false" 
			aria-controls="navbar"
		>
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
	</div>
	<div id="{{ HTMLid|default('') }}-navbar-collapse" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
		{% block navbar_link_list %}
			{% for item in linkAr %}
			<li class="{{ item.route == route_current ? 'active' }} {{ item.HTMLClass|default('') }}">
				<a href="{{ item.route=='' ? '#' : path( item.route ) }}">
					{{ item.label }}
				</a>
			</li>
			{% endfor %}
		{% endblock navbar_link_list %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
		{% block navbar_right_list %}
		{% endblock navbar_right_list %}
		</ul>
	</div>
</nav>
	
