{% extends 'bootstrap/page.html.twig' %}

{# ____________________________________________________________________________
	VAR #}
{% set navbar = [
	{ 'route': 'index', 'label': 'HOME' },
	{ 'route': 'login', 'label': 'FEATURE' },
	{ 'route': '', 'label': 'DOWNLOAD' },
	{ 'route': '', 'label': 'FORUM' },
	{ 'route': '', 'label': 'ABOUT' }
	]
%}
{% set navbar = navbar|merge( [{
		'route': 
			( not is_granted('ROLE_USER') ) ? 'login' :
			( is_granted('ROLE_PLAYER') )? 'overview' : 'player_create', 
		'label': 'Play', 
		'CSSClass': 'hightlighted' 
	}])
%}

{% set user = (user is defined)? user : null %}
{% set route_current = route_current|default('index') %}

{# ____________________________________________________________________________
	CONTENT #}

{% block body %}
	<div id="header-main" class="bg-dark text-center" style="font-size: 72px">
    	<a href="{{ url('index') }}">LOGO</a>
	</div>
	{% include 'element/navbar.html.twig' with {navbar: navbar, user: user} only %}
	{% block post_navbar %}
	{% endblock %}
	<div id="content" class="container fadeIn mb-5">
		{% block page_content %}
			{% embed 'bootstrap/panel.html.twig' %}		
				{% block header %}Home{% endblock %}
				{% block content %}
   					Homepage. date : {{ "now"|date("m/d/Y") }}
				{% endblock %}
    		{% endembed %}
		{% endblock %}
	</div>
{% endblock %}


{# ____________________________________________________________________________
	SCRIPT #}
{#
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">

	</script>
{% endblock %}
#}
{# ____________________________________________________________________________
	STYLE #}

{% block stylesheets %}
{{ parent() }}

{% stylesheets filter="scssphp" output="css/app.css"
    "asset/scss/*.scss"
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<link href="{{ asset('css/planet.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/ressource_atlas.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
