{% extends 'page/index.html.twig' %}


{% block page_content %}
<div class="row">
	<div class="col-12 col-lg-6 offset-lg-3">
	{% embed 'bootstrap/panel.html.twig' %}
		
		{% block header %}Connexion{% endblock %}
		
		{% block content %}
			{{ form_start(form) }}
				{{ form_errors(form) }}
				{% for child in form %}
					{% if child.vars.name == 'signin' %}
					<div class="form-group">
						{{ form_widget(child) }}
						<a class="btn btn-link float-right" href="{{ url('register') }}">
							<span class="fa fa-user-plus "></span>
							Create new account</a>
					</div>
					{% else %}
						{{ form_row(child) }}
					{% endif %}
				{% endfor %}
				{{ form_rest( form ) }}
			{{ form_end(form) }}
		{% endblock %}
	{% endembed %}
	</div>
</div>
	
{% endblock %}
