{% extends 'page/index.html.twig' %}
{% import 'homeplanet/macro/commun.twig' as commun %}

{% block stylesheets %}
<link href="css/planet.css" rel="stylesheet" type="text/css" />
<link href="css/ressource_atlas.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-xs-12">
	{% embed 'bootstrap/panel.html.twig' %}
	{% block header %}
		{{ gameview.player.getName() }}
		<form><button type="submit" name="game_run" value="ok">End turn</button></form>
		<a href="{{ url('merchant') }}">Hire merchant</a>
		<a href="{{ url('map_overview') }}">Map</a>
		<a href="{{ url('asset') }}">Asset</a>
	{% endblock %}
	{% block content %}
		{{ commun.credit( gameview.player.credit() ) }}
		(+ {{ commun.credit( gameview.player.income() ) }} )
		
	{% endblock %}
	
	{% endembed %}
	{% embed 'bootstrap/panel.html.twig' %}
	
	{% block header %}
		Asset
	{% endblock %}
	
	{% block content %}
		<a href="{{ url('trade_route') }}">Create trade route</a>
		<ul class="list-group">
		{% for oPawn in pawnAr %}
			<li class="list-group-item">
				<div class="row">
				<div class="col-xs-2">
					<img class="img-responsive" src="{{ 
						commun.icon_entitytype(oPawn.getType()) }}">
				</div>
				<div class="col-xs-8">
					{{ printo(oPawn) }}
					{{ form(form_entity_delete_ar[oPawn.getId()]) }}
				</div>
				</div>
			</li>
    	{% endfor %}
    	</ul>
	{% endblock %}
	
	{% endembed %}
	</div>
	<div class="col-xs-12">
	{% embed 'bootstrap/panel.html.twig' %}
    	
	{% block header %}
		World map ( {{ gameview.location }} )
	{% endblock %}
    
	{% block content %}
		{% embed 'homeplanet/element/map.html.twig' 
			with {location: gameview.location}
		 %}{% endembed %}
	{% endblock %}
	
	{% endembed %}
	</div>
	<div class="col-xs-12">
	{% include 'homeplanet/panel/location_detail.html.twig' %}
	{% include 'homeplanet/panel/city_detail.html.twig' %}
	
	</div>
</div>
{% endblock %}
