{% import 'homeplanet/macro/commun.twig' as commun %}

<input class="radio-button-input" type="radio" 
	{% include 'homeplanet/form/widget_attributes.html.twig' %}
	{% if value is defined %} value="{{ value }}"{% endif %}
	{% if checked %} checked="checked"{% endif %}
 />
<label {% for attrname, attrvalue in label_attr|merge({
	class: 'list-group-item clickable'
}) %} {{ attrname }}="{{ attrvalue }}"{% endfor %} 
	for="{{ id }}"
>
	<div class="row w-100">
	<div class="col-4 col-sm-2 bg-pawn-{{ label_printo.id }}" style="padding-right:0">
	</div>
	<div class="col-8 col-sm-10">
		<header class="list-group-item-heading">
			<strong>
				{{ label_printo.label|trans({}, translation_domain)|capitalize }}
			</strong>
			<span class="{{ attr['disabled']?'text-danger' }} small pull-right">
				Cost : 
				{{ commun.credit( label_printo.value ) }}
				{% for oCapactityRequirement in label_printo.getTileCapacityRequirementAr() %}
					,{{ printo( oCapactityRequirement ) }}
				{% endfor %}
			</span>
		</header>
		<div class="small">
		{{ label_printo.description }}
		{% for oProdType in label_printo.getProdTypeAr() %}
			{% if not oProdType.isSeller() 
				and not oProdType.isBuyer()
				and not oProdType.isTransporter()
			%}
				{{ printo(oProdType) }}
			{% endif %}
		{% endfor %}
		</div>
	</div>
	</div>
</label>