{% import 'homeplanet/macro/commun.twig' as commun %}
<input class="form-build-radio" type="radio" 
	{% include 'homeplanet/form/widget_attributes.html.twig' %}
	{% if value is defined %} value="{{ value }}"{% endif %}
	{% if checked %} checked="checked"{% endif %}
 />
<label {% for attrname, attrvalue in label_attr|merge({class: 'row', style: 'max-width: initial; display:block'}) %} {{ attrname }}="{{ attrvalue }}"{% endfor %} 
	for="{{ id }}"
>
	<div class="col-xs-4" style="padding-right:0">
		<img class="img-responsive" src="{{ commun.icon_entitytype(data) }}">
	</div>
	<div class="col-xs-8">
		<h4>
		{{ label|trans({}, translation_domain)|capitalize }}
		<span class="small pull-right">
			Cost : {{ commun.credit( data.value ) }}
		</span>
		</h4>
		{% for oProdType in data.getProdTypeAr() %}
			{{ printo(oProdType) }}
		{% endfor %}
		
	</div>
</label>