{% use "bootstrap_3_layout.html.twig" %}

{#____________________________________________________________________________
	 #}

{% block choice_row -%}
	{% if( 'btn-group' in attr.class|default('') ) %}
		<div class="form-group">
			{{ block('radiobtngroup_widget') }}
		</div>
	{% else %}
		{{ parent() }}
	{% endif %}
{%- endblock choice_row %}

{%- block radio_widget -%}
	{% if( 'btn-group' in form.parent.vars.attr.class|default('') ) %}
		<input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
	{% else %}
		{{ parent() }}
	{% endif %}
{%- endblock radio_widget -%}

{#____________________________________________________________________________
	homeplanet\Form\LocationType rendering #}

{% block location_widget %}
	<input id="{{ id }}" name="{{ full_name }}" type="hidden" value="{{ value }}">
	<div class="input-group">
		<div class="input-group-addon">
			<span class="fa fa-map-marker"></span>
		</div>
		<button 
			id="{{ id }}_button"
			class="btn btn-secondary form-control" 
			type="button" 
			{%- if disabled %} 
				disabled="disabled"
			{% else %}
				onclick="$('#{{ id }}_modal').modal('show')"
			{% endif -%}
		>{{ form.vars.data != null ? value : empty_data }}</button>
	</div>
	{% embed 'bootstrap/modal.html.twig' 
		with {id: id~'_modal', iTargetInputId: id}
	 %}
	{% block modal_body %}
		<div class="row">
		<div class="col-6" style="padding-right:0;">
			{% embed 'homeplanet/element/map_zoom1.html.twig' with worldmap_view %}
			{% block map_cell %}
					<div class="map-cell" 
						onclick="
							$('#{{ id }} .mapz0-wrapper').ajaxUpdate(
								'{{ url('ajax_map_z0',{location: (x*13)~':'~(y*13)}) }}',
								{
								{% if validator is defined %}
									validator: '{{ validator_class|e('js') }}',
									validator_param: {{ validator_param  }},
								{% endif %}
								}
								
							);
						"
					></div>
			{% endblock %}
			{% endembed %}
		</div>
		<div class="col-6 mapz0-wrapper" style="padding-left:0;"

			onclick="
				if( 
					$(event.target).attr('data-valid') !== undefined 
					&& $(event.target).attr('data-valid') == 'false'
				) return false;
				
				$('#{{ id }} .map-cell-highlight').removeClass('map-cell-highlight');
				$(event.target).addClass('map-cell-highlight');
				
				$('#{{ iTargetInputId }}').val( $(event.target).attr('data-location') );
				$('#{{ iTargetInputId }}_button').html( $(event.target).attr('data-location') );
				$('#{{ id }}').modal('hide');
			"
		>	
			{% include 'homeplanet/element/map_zoom0.html.twig' with {
				map_mod: true,
				validator: validator is defined? validator : null 
			}|merge(worldmap_view) only %}
		</div>
		</div>
	{% endblock %}
	{% endembed %}
{% endblock %}


{% block tile_widget %}
    {{ block('location_widget') }}
{% endblock tile_widget %}

{#____________________________________________________________________________
	NOT USED #}

{% block production_type_widget %}
<div class="row">
{%- for i in form.children|keys %}
{% set child = form.children[i] %}
{% set oProductionType = form.vars.choices[i].data %}
<div class="col-6 col-md-4 small" style="height: 100px">
	<input type="radio" 
		{% include 'homeplanet/form/widget_attributes.html.twig' with child.vars %}
		{% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}
		{% if child.vars.checked %} checked="checked"{% endif %}
	/>
	<label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} 
		for="{{ child.vars.id }}"
	>
		{% include 'homeplanet/text/prodtype.html.twig' with {prodtype: oProductionType} %}
	</label>
</div>
{% endfor -%}
</div>
{% endblock %}

{#____________________________________________________________________________
	homeplanet\Form\PawnType rendering #}

{% block pawntype_widget %}

{% set a = indexBy( form.children,'vars[label_printo].category.id' ) %}

<div class="card">

{% set category_id_active = form.children[ form.vars.value ].vars.label_printo.category.id %}
{% for key,aOption in a %}
{% set category = aOption|first.vars['label_printo'].category %}

<a class="card-header d-block" 
	data-toggle="collapse" data-parent="#accordion" href="#collapse{{ key }}"
>
	{{ category.label|capitalize }}
</a>
<div id="collapse{{ key }}" class="panel-collapse collapse {{ key == category_id_active ? 'in' }}">
	<div class="list-group list-group-flush">
		{% for child in aOption %}
			{% include 'homeplanet/form/build_chckbx.html.twig' 
			with child.vars only %}
		{% endfor %}
	</div>
</div>

{% endfor %}

</div>

{% endblock %}


{#____________________________________________________________________________
	homeplanet\Form\RadioBtnGroupType rendering #}

{% block radiobtngroup_widget %}
{% spaceless %}
	<div class="btn-group btn-group-justified" data-toggle="buttons" >
{% for child in form %}
		<label class="btn btn-secondary clickable {{ child.vars.checked ? 'active'}} {{ child.vars.disabled ? 'disabled'}}">
			{{ form_widget(child) }}
			{{ translation_domain is same as(false) ? child.vars.label : child.vars.label|trans({}, translation_domain) }}
		</label
		>{% endfor %}
	</div>
{% endspaceless %}
{% endblock %}

