{#____________________________________________________________________________
	homeplanet\Form\LocaionType rendering #}

{% block location_widget %}
	<input id="{{ id }}" name="{{ full_name }}" type="hidden" value="{{ value }}">
	<button 
		class="btn btn-default" 
		type="button" 
		{%- if disabled %} 
			disabled="disabled"
		{% else %}
			onclick="$('#{{ id }}_modal').modal('show')"
		{% endif -%}
	>{{ value }}</button>
	{% embed 'bootstrap/modal.html.twig' 
		with {id: id~'_modal', iTargetInputId: id}
	 %}
	{% block modal_body %}
		<div class="row">
		<div class="col-xs-6" style="padding-right:0;">
			{% embed 'homeplanet/element/map_zoom1.html.twig' with {location: data}%}
			{% block map_cell %}
					<div class="map-cell" 
						onclick="
							$('#{{ id }} .mapz0-wrapper').ajaxUpdate(
								'{{ url('ajax_map_z0',{location: (x*13)~':'~(y*13)}) }}',
								{
								{% if validator is defined %}
									validator: '{{ validator_class|e('js') }}',
									validator_param: {{ validator_param  }},
								{% endif %}
								}
								
							);
						"
					></div>
			{% endblock %}
			{% endembed %}
		</div>
		<div class="col-xs-6 mapz0-wrapper" style="padding-left:0;"

			onclick="
				if( 
					$(event.target).attr('data-valid') !== undefined 
					&& $(event.target).attr('data-valid') == 'false'
				) return false;
				$('#{{ iTargetInputId }}').val( $(event.target).attr('data-location') );
				$('#{{ iTargetInputId }}+button').html( $(event.target).attr('data-location') );
				$('#{{ id }}').modal('hide');
			"
		>
			{% embed 'homeplanet/element/map_zoom0.html.twig' with {
				map_mod: true,
				validator: validator is defined? validator : null 
			} %}
			{% endembed %}
		</div>
		</div>
	{% endblock %}
	{% endembed %}
{% endblock %}

{% block production_type_widget %}
<div class="row">
{%- for i in form.children|keys %}
{% set child = form.children[i] %}
{% set oProductionType = form.vars.choices[i].data %}
<div class="col-xs-6 col-md-4 small" style="height: 100px">
	<input type="radio" 
		{% include 'homeplanet/form/widget_attributes.html.twig' with child.vars %}
		{% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}
		{% if child.vars.checked %} checked="checked"{% endif %}
	/>
	<label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} 
		for="{{ child.vars.id }}"
	>
		{% include 'homeplanet/text/prodtype.html.twig' with {prodtype: oProductionType} %}
	</label>
</div>
{% endfor -%}
</div>
{% endblock %}

{#____________________________________________________________________________
	homeplanet\Form\PawnType rendering #}
{% block pawntype_widget %}

{% set a = indexBy( form.children,'vars[label_printo].category.id' ) %}

<div class="panel-group">

{% set category_id_active = form.children[ form.vars.value ].vars.label_printo.category.id %}
{% for key,aOption in a %}
{% set category = aOption|first.vars['label_printo'].category %}
<div class="panel panel-default">
	<a class="panel-heading d-block" 
		data-toggle="collapse" data-parent="#accordion" href="#collapse{{ key }}"
	>
		<h3 class="panel-title">{{ category.label|capitalize }}</h3>
	</a>
	<div id="collapse{{ key }}" class="panel-collapse collapse {{ key == category_id_active ? 'in' }}">
		<div class="list-group">
			{% for child in aOption %}
				{% include 'homeplanet/form/build_chckbx.html.twig' 
				with child.vars only %}
			{% endfor %}
		</div>
	</div>
</div>
{% endfor %}

</div>

{% endblock %}

