{#____________________________________________________________________________
	homeplanet\Form\LocaionType rendering #}

{% block location_widget %}
	<input id="{{ id }}" name="{{ full_name }}" type="text" value="{{ value }}">
	<button class="btn btn-default" type="button" onclick="$('#{{ id }}_modal').modal('show')">Select</button>
	{% embed 'bootstrap/modal.html.twig' 
		with {id: id~'_modal', iTargetInputId: id}
	 %}
	{% block modal_body %}
		<div class="row">
		<div class="col-xs-6" style="padding-right:0;">
			{% embed 'homeplanet/element/map_zoom1.html.twig' with {location: data}%}
			{% block map_cell %}
					<div class="map-cell" 
						onclick="
							$('#{{ id }} .mapz0-wrapper').ajaxUpdate(
								'{{ url('ajax_map_z0',{location: (x*13)~':'~(y*13)}) }}',
								{
									validator: 'TileValidatorRange',
									param: {
										validator_serialized: '{{ validator_serialized is defined ? validator_serialized|escape('js') : null }}',
										tile_ref: '6:3',
										range: 3
									}
								}
							);
						"
					></div>
			{% endblock %}
			{% endembed %}
		</div>
		<div class="col-xs-6 mapz0-wrapper" style="padding-left:0;"

			onclick="
				if( 
					$(event.target).attr('data-valid') !== undefined 
					&& $(event.target).attr('data-valid') == 'false'
				) return false;
				$('#{{ iTargetInputId }}').val( $(event.target).attr('data-location') );
				$('#{{ id }}').modal('hide');
			"
		>
			{% embed 'homeplanet/element/map_zoom0.html.twig' with {
				map_mod: true,
				validator: validator is defined? validator : null 
			} %}
			{% endembed %}
		</div>
		</div>
	{% endblock %}
	{% endembed %}
{% endblock %}
				
{% block production_type_widget %}
<div class="row">
{%- for i in form.children|keys %}
{% set child = form.children[i] %}
{% set oProductionType = form.vars.choices[i].data %}
<div class="col-xs-6 col-md-4 small" style="height: 100px">
	<input type="radio" 
		{% include 'homeplanet/form/widget_attributes.html.twig' with child.vars %}
		{% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}
		{% if child.vars.checked %} checked="checked"{% endif %}
	/>
	<label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} 
		for="{{ child.vars.id }}"
	>
		{% include 'homeplanet/text/prodtype.html.twig' with {prodtype: oProductionType} %}
	</label>
</div>
{% endfor -%}
</div>
{% endblock %}

{#____________________________________________________________________________
	homeplanet\Form\PawnType rendering #}
{% block pawntype_widget %}
<div class="row">
{% for i in form.children|keys %}
	<div class="col-xs-12 small" style="">
	    {% include 'homeplanet/form/build_chckbx.html.twig' 
    	with form.children[i].vars|merge({
    		'data':form.vars.choices[i].data
		}) only %}
    	
	</div>
{% endfor %}
</div>
{% endblock %}

