{% set route_current = route_current|default('index') %}

<nav 
	id="{{ HTMLid|default('') }}" 
	class="navbar navbar-toggleable-sm navbar-light bg-faded py-1 mb-3"
>

	{# Header #}
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#{{ HTMLid|default('') }}-navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div id="{{ HTMLid|default('') }}-navbar-collapse" class="navbar-collapse collapse">
		<ul class="navbar-nav mr-auto">
{% for item in navbar %}
			<li class="nav-item {{ item.route == route_current ? 'active' }} {{ item.CSSClass is defined ? item.CSSClass }}">
				<a class="nav-link" href="{{ item.route=='' ? '#' : path( item.route ) }}">
					{{ item.label }}
				</a>
			</li>
{% endfor %}
		</ul>
		<div class="navbar-text">
{% if user is defined and user is not null %}
			<span class="navbar-text">{{ user.getUserName }}</span>
			&nbsp;
			<a class="btn btn-danger btn-sm" href="{{ path('logout') }}">Disconnect</a>
{% else %}
			<a class="btn btn-primary btn-sm" href="{{ path('register') }}">Inscription</a>
			&nbsp;
			<a class="btn btn-primary btn-sm" href="{{ path('login') }}">Connection</a>
{% endif %}
		</div>
	</div>
</nav>
