{% extends 'page/index.html.twig' %}

{# Index by location #}
{% set aEntityByloc = gameview.game.getEntityAr_byUser_indexLocation( user ) %}

{% block page_content %}
<div class="row">
{% for sLocation, aEntity in aEntityByloc %}
<div class="col-xs-12 col-sm-6">
	{% embed 'bootstrap/panel.html.twig' %}
	{% block header %}
		Location {{ sLocation }}
		<br>
		{% for iRessId, iQuantity in aFluxByLocation[sLocation]|default([]) %}
			{{iQuantity>0?'+'}}{{ iQuantity }}
			{{ printo(gameview.game.getRessource(iRessId)) }}<br>
		{% endfor %}
	{% endblock %}
	{% block content %}
		<ul class="list-group">
		{% for oEntity in aEntity %}
		<li class="list-group-item">
			{{ printo(oEntity) }}
		</li>
		{% endfor %}
		</ul>
	{% endblock %}
	{% endembed %}
</div>
{% endfor %}
</div>
{% endblock %}
