{% extends 'homeplanet/page/game.html.twig' %}
{% import 'homeplanet/macro/commun.twig' as commun %}

{% block page_content %}
<div class="row">
<div class="col-12">
	{% embed 'bootstrap/panel.html.twig' %}
	{% block header %}
		Buy asset
	{% endblock %}
	{% block content %}
		{% if gameview.player.contractRemaining > 0 %}
			<a class="btn btn-primary" href="{{ url('asset_create') }}">Buy building</a>
		{% endif %}
		{{ form_start( form_contract ) }}
			{% do form_contract.submit.setRendered %}
			<button class="btn btn-warning" type="submit">
				<span class="fa fa-book"></span>
				<span class="mx-1">|</span>
				Buy Contract 
				<span class="ml-1 badge badge-light">
					{{ commun.credit( gameview.player.contractPrice ) }}
				</span>
			</button>
		{{ form_end( form_contract ) }}
	{% endblock %}
	{% endembed %}
</div>
{% for sLocation, aPawn in aPawnByloc %}
{% set oLocation = aLocation[sLocation] %}
<div class="col-12">
	<div class="card mb-3">
	<div class="card-header">
		<div class="row">
		<div class="col-3">
			{{ printo( worldmap.tile( oLocation.x, oLocation.y ), {
				'_suffix': 'link',
				'city': aCity[sLocation]|default(null),
			} ) }}
		</div>
		<div class="col-6">
			{% for iRessId, iQuantity in aFluxByLocation[sLocation]|default([]) %}
				{{iQuantity>0?'+'}}{{ iQuantity }}
				{{ printo(gameview.game.getRessource(iRessId)) }}<br>
			{% endfor %}
		</div>
		<div class="col-3">
			<a class="btn btn-small btn-primary btn-sm pull-right" 
				href="{{ url('asset_create',{location: sLocation}) }}"
			>
				Buy building
			</a>
		</div>
		</div>
	</div>
	<ul class="list-group list-group-flush">
	{% for oPawn in aPawn %}
		<a class="list-group-item list-group-item-action" href="{{ path('asset_view',{id:oPawn.id}) }}">
			{{ printo( oPawn ) }}
		</a>
	{% endfor %}
	</ul>
	</div>
</div>
{% endfor %}
</div>
{% endblock %}
