{% extends 'homeplanet/page/game.html.twig' %}

{% set aPointLabel = [ 
	'persuade', 
	'coerce', 
	'convince', 
	'charm', 
] %}

{% block page_content %}

<div class="panel panel-default">
<div class="card-header">
	Conversation
</div>
<div class="card-block">
	<div class="row">
	<div class="col-6 col-lg-2">
		{{ conversation.character0.label }} (initiative)
		<img src="" />
		<table class="table">
		<thead>
			<tr><th colspan="99" class="text-center">Points</th></tr>
		</thead>
		<tbody>
{% for i in 0..3 %}
{% set value = conversation.state.point(0,i) %}
			<tr>
				<td class="">
					<strong>{{ aPointLabel[ i ]|capitalize }}</strong>
					<div class="text-muted d-inline-block float-right">
						{% spaceless %}
						{% for j in 0..5 %}
						{% if( j < value ) %}
							<span class="fa fa-circle color-aspect-{{i}}"></span>
						{% else %}
							<span class="fa fa-circle-thin color-aspect-{{i}}"></span>
						{% endif %}
						{% endfor %}
						{% endspaceless %}
					</div>
				</td>
			</tr>
{% endfor %}
		</tbody>
		</table>
	</div>
	<div class="col-6 col-lg-2 push-lg-8 text-right">
		{{ conversation.character1.label }}
		<img src="" />
		<table class="table">
		<thead>
			<tr><th colspan="99" class="text-center">Points</th></tr>
		</thead>
		<tbody>
{% for i in 0..3 %}
{% set value = conversation.state.point( 1, i ) %}
			<tr>
				<td class="text-right">
					<strong>{{ aPointLabel[ i ]|capitalize }}</strong>
					<div class="text-muted d-inline-block float-left">
						{% spaceless %}
						{% for j in 0..5 %}
						{% if( j < value ) %}
							<span class="fa fa-circle color-aspect-{{i}}"></span>
						{% else %}
							<span class="fa fa-circle-thin color-aspect-{{i}}"></span>
						{% endif %}
						{% endfor %}
						{% endspaceless %}
					</div>
				</td>
			</tr>
{% endfor %}
		</tbody>
		</table>
	</div>
	<div class="col-12 col-lg-8 pull-lg-2">
		<table class="table">
		<thead>
			<tr><td colspan="99" class="text-center">Subject</td></tr>
		</thead>
		<tbody>
{% for entry in conversation.state.log %}
			<tr>
				<td class="">
					<span class="label label-default">{{ expressionAr[ entry[0] ].label|capitalize }}</span>
				</td>
				<td class="text-center">
					&larr;
				</td>
				<td class="text-right">
					<span class="label label-default">{{ expressionAr[ entry[1] ].label|capitalize }}</span>
				</td>
			</tr>
{% endfor %}
			<tr class="active TODO-animation">
				<td class="">
				</td>
				<td class="text-center">
					&rarr;
				</td>
				<td class="text-center">
				</td>
			</tr>
			<tr class="active TODO-animation">
				<td colspan="99" class="">
					<div class="row">
					{% for expression in expressionAr  %}
					<div class="col-3">
						{{ printo( expression, { 
							context: conversation.context0, 
						} ) }}
					</div>
					{% endfor %}
					<div class="col-12">
						{# {{ form(form) }} #}
						{{ form_start(form) }}
							{{ form_errors(form) }}
							
{% do form.expression.setRendered %}
{% spaceless %}
	<div class="btn-group btn-group-justified" data-toggle="buttons" >
{% for child in form.expression %}
		{% dump(child.vars) %}
		<label class="btn btn-secondary clickable {{ child.vars.checked ? 'active'}} {{ child.vars.disabled ? 'disabled'}}">
			{{ form_widget(child) }}
			{# {{ form.expression.vars.translation_domain is same as(false) ? child.vars.label : child.vars.label|trans({}, form.expression.vars.translation_domain) }} #}
			{{ printo( child.vars.label_printo, { context: conversation.context0 } ) }}
		</label
		>{% endfor %}
	</div>
{% endspaceless %}

						{{ form_end(form) }}
					</div>
					</div>
				</td>
			</tr>
		</tbody>
		</table>
	</div>

	<div class="col-12">
		<hr />
		<button class="btn btn-danger float-right">
			Quit
		</button>
	</div>
	</div>
</div>
</div>


{% endblock %}
