{% extends 'homeplanet/page/game.html.twig' %}

{% block page_content %}

<div class="panel panel-default">
<div class="panel-heading">
    Conversation
</div>
<div class="panel-body">
    <div class="row">
    <div class="col-xs-6 col-md-2 pull-left">
        {{ conversation.character0.label }} (initiative)
        <img src="" />
        <table class="table">
        <thead>
            <tr><th colspan="99" class="text-center">Points</th></tr>
        </thead>
        <tbody>
            <tr>
                <th class="">Persuade</th>
                <td>1</td>
            </tr>
            <tr>
                <th class="">Coerce</th>
                <td>2</td>
            </tr>
            <tr>
                <th class="">Convince</thd>
                <td>2</td>
            </tr>
            <tr>
                <th class="">Charm</th>
                <td>1</td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-xs-6 col-md-2 pull-right text-right">
        {{ conversation.character1.label }}
        <img src="" />
        <table class="table">
        <thead>
            <tr><th colspan="99" class="text-center">Points</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <th class="text-right">Persuasion</th>
            </tr>
            <tr>
                <td>2</td>
                <th class="text-right">Coertion</th>
            </tr>
            <tr>
                <td>2</td>
                <th class="text-right">Convince</thd>
            </tr>
            <tr>
                <td>1</td>
                <th class="text-right">Charm</th>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-md-8 pull-left">
        <table class="table">
        <thead>
            <tr><td colspan="99" class="text-center">Subject</td></tr>
        </thead>
        <tbody>
            <tr>
                <td class="">
                    <span class="label label-default">Move1</span>
                </td>
                <td class="text-center">
                    &larr;
                </td>
                <td class="text-right">
                    <span class="label label-default">Move2</span>
                </td>
            </tr>
            <tr>
                <td class="">
                    <span class="label label-default">Move3</span>
                </td>
                <td class="text-center">
                    &rarr;
                </td>
                <td class="text-right">
                    <span class="label label-danger">Pass</span>
                </td>
            </tr>
            <tr class="active TODO-animation">
                <td class="">
                </td>
                <td class="text-center">
                    &rarr;
                </td>
                <td class="text-center">
                </td>
            </tr>
            <tr class="active TODO-animation">
                <td colspan="99" class="">
                    <form>
                    <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                    {% for expression in conversation.character0.expressionAr  %}
                            <label class="btn btn-default clickable">
                                <input class="radio-button-input" type="radio" name="move" />
                                {{ expression.label }}
                            </label>
                    {% endfor %}
                        </div>
                    </div>
                    <hr />
                    {% for expression in conversation.character0.expressionAr  %}
                    <div class="col-xs-3">
                        {{ printo( expression ) }}
                    </div>
                    {% endfor %}
                    <div class="col-xs-3">
                        <div class="well small">
                            Move1 
                            <div class="pull-right">
                                1&nbsp;Persuade<br>
                                2&nbsp;Convince
                            </div>
                            <div class="clearfix">
                                -1 persuade to your opponent
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="label label-default">Move2</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="label label-default">Move3</div>
                    </div>
                    </div>
                    <button class="btn btn-primary pull-right">
                        End turn
                    </button>
                    </form>
                    {{ form(form) }}
                </td>
            </tr>
        </tbody>
        </table>
    </div>

    <div class="col-xs-12">
        <hr />
        <button class="btn btn-danger pull-right">
            Quit
        </button>
    </div>
    </div>
</div>
</div>


{% endblock %}
