{% extends 'homeplanet/page/game.html.twig' %}

{% set aPointLabel = [ 
	'persuade', 
	'coerce', 
	'passion', 
	'charm', 
] %}

{% dump(conversation.state) %}
{% dump(conversation.winner) %}
{% block page_content %}

<div class="card">
<div class="card-header">
	Conversation
</div>
<div class="card-block">
	<div class="row">
	<div class="col-6 col-lg-2">
		{{ conversation.character0.label }} (initiative)
		<img src="" />
		<table class="table">
		<thead>
			<tr><th colspan="99" class="text-center">Points</th></tr>
		</thead>
		<tbody>
{% for i in 0..3 %}
{% set value = conversation.state.point(0,i) %}
			<tr>
				<td class="">
					<strong>{{ aPointLabel[ i ]|capitalize }}</strong>
					<div class="text-muted d-inline-block float-right">
						{% spaceless %}
						{% for j in 0..5 %}
						{% if( j < value ) %}
							<span class="fa fa-circle color-aspect-{{i}}"></span>
						{% else %}
							<span class="fa fa-circle-thin color-aspect-{{i}}"></span>
						{% endif %}
						{% endfor %}
						{% endspaceless %}
					</div>
				</td>
			</tr>
{% endfor %}
		</tbody>
		</table>
	</div>
	<div class="col-6 col-lg-2 push-lg-8 text-right">
		{{ conversation.character1.label }}
		<img src="" />
		<table class="table">
		<thead>
			<tr><th colspan="99" class="text-center">Points</th></tr>
		</thead>
		<tbody>
{% for i in 0..3 %}
{% set value = conversation.state.point( 1, i ) %}
			<tr>
				<td class="text-right">
					<strong>{{ aPointLabel[ i ]|capitalize }}</strong>
					<div class="text-muted d-inline-block float-left">
						{% spaceless %}
						{% for j in 0..5 %}
						{% if( j < value ) %}
							<span class="fa fa-circle color-aspect-{{i}}"></span>
						{% else %}
							<span class="fa fa-circle-thin color-aspect-{{i}}"></span>
						{% endif %}
						{% endfor %}
						{% endspaceless %}
					</div>
				</td>
			</tr>
{% endfor %}
		</tbody>
		</table>
	</div>
	<div class="col-12 col-lg-8 pull-lg-2">
		<table class="table">
		<thead>
			<tr><td colspan="99" class="text-center">
				{{ conversation.state.debateGoal0 }} |
				{{ conversation.state.debate }} |
				{{ conversation.state.debateGoal1 }}
			</td></tr>
		</thead>
		<tbody>
{#{% for entry in conversation.state.log %}#}
{% set entry = conversation.state.log|last%}
			<tr>
				<td class="">
					<span class="label label-default">{{ printo( expressionAr[ entry.expression0Id ] ) }}</span>
				</td>
				<td class="text-right">
					<span class="label label-default">{{ printo( expressionAr[ entry.expression1Id ] ) }}</span>
				</td>
			</tr>
{#{% endfor %}#}
			<tr class="active TODO-animation">
				<td colspan="99" class="">
					<div class="row">
					<div class="col-12">
{#
CARD VIEWER
#}
<div class="row">
<div class="col-auto">

<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
{% set first = true %}
{% for expression in expressionAr  %}
	<a 
		id="nav-link-expression-{{ expression.id}}" 
		class="nav-link {{ first ? 'active' }}" 
		data-toggle="tab" href="#tab-expression-{{ expression.id }}" role="tab" 
		aria-controls="tab-expression-{{ expression.id}}" aria-expanded="true"
	>{{ expression.label|capitalize }}</a>
	{% set first = false %}
{% endfor %}
</div>

</div>
<div class="col">

<div class="tab-content">
{% set first = true %}
{% for expression in expressionAr  %}
	<div 
		id="tab-expression-{{ expression.id }}" 
		class="tab-pane fade {{ first ? 'show active' }}" 
		role="tabpanel" aria-labelledby="nav-link-expression-{{ expression.id }}"
	>{{ printo(expression) }}</div>
	{% set first = false %}
{% endfor %}
</div>

</div>
</div>
					</div>
					<div class="col-12">
						{{ form_start(form) }}
							{{ form_errors(form) }}
							
{% do form.expression.setRendered %}
{% spaceless %}
	<div class="btn-group btn-group-justified" data-toggle="buttons" >
{% for child in form.expression %}
		<label class="btn btn-secondary clickable {{ child.vars.checked ? 'active'}} {{ child.vars.disabled ? 'disabled'}}">
			{{ form_widget(child) }}
			{# {{ form.expression.vars.translation_domain is same as(false) ? child.vars.label : child.vars.label|trans({}, form.expression.vars.translation_domain) }} #}
			{% dump(child.vars.label_printo) %}{{ printo( child.vars.label_printo, { context: conversation.context0 } ) }}
		</label
		>{% endfor %}
	</div>
{% endspaceless %}

						{{ form_end(form) }}
					</div>
					</div>
				</td>
			</tr>
		</tbody>
		</table>
	</div>

	<div class="col-12">
		<hr />
		<button class="btn btn-danger float-right">
			Quit
		</button>
	</div>
	</div>
</div>
</div>


{% endblock %}
