{% extends 'page/index.html.twig' %}
{% import 'homeplanet/macro/commun.twig' as commun %}

{% block post_navbar %}

<div class="container-fluid">
<nav 
	id="{{ HTMLid|default('') }}" 
	class="navbar navbar-light navbar-toggleable bg-faded py-0 mb-3"
>
	<div class="navbar-nav mr-auto">
		<ul class="nav navbar-nav">
			{% set linkAr = [
				{ route: 'overview', label: 'Overview' },
				{ route: 'asset', label: 'Asset' },
				{ route: 'map_overview', label: 'Map' },
				{ route: 'character_acquaintance', label: 'Aquaintance' },
				{ route: 'deck', label: 'Expression' },
			] %}
			{% for item in linkAr %}
			<li class="nav-item {{ item.route == route_current ? 'active' }} {{ item.HTMLClass|default('') }}">
				<a class="nav-link" href="{{ item.route=='' ? '#' : path( item.route ) }}">
					{{ item.label }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="navbar-text">
		Contract : {{ gameview.player.ext.contract }} / {{ gameview.player.contractMax }}
		<span class="fa fa-book"></span>
		
		Credit : {{ commun.credit( gameview.player.credit ) }}
		<span title="Income">
		 ( {{plus(gameview.player.income)}}{{ commun.credit( gameview.player.income ) }} )
		</span>
		
		<span title="Year">{{ gameview.year }}</span>
		<span title="Month">{{ gameview.month }}</span>
		<span class="fa fa-clock-o"></span>
	</div>
</nav>
</div>

{% endblock %}

{% block banner %}{# Nothing #}{% endblock %}
