{% extends 'homeplanet/page/game.html.twig' %}

{% block page_content %}

<div class="card">
	<div class="card-header">
		World map ( {{ gameview.location }} )
	</div>
	<div class="card-block">
		{% embed 'homeplanet/element/map.html.twig'%}{% endembed %}
	</div>
	<div class="card-header">
		Location detail ({{ gameview.location  }})
	</div>
	<div class="card-block">
		{% set x = gameview.location.getX() %}
		{% set y = gameview.location.getY() %}
		{% set oTile = gameview.map.getTile( x, y ) %}
		{{ printo(oTile, { gameview: gameview } ) }}
	</div>
	{% if city != null %}
	<div class="card-header">
		City at {{ gameview.location }}
	</div>
	<div class="card-block">
		{{ printo(city) }}
	</div>	
	{% endif %}
</div>

{% endblock page_content %}
