{% extends 'homeplanet/page/game.html.twig' %}

{% block page_content %}
<div class="row">
<div class="col-xs-12">
	{% embed 'bootstrap/panel.html.twig' %}
	
	{% block header %}
		World map ( {{ gameview.location }} )
	{% endblock %}

	{% block content %}
		{% embed 'homeplanet/element/map.html.twig'%}{% endembed %}
	{% endblock %}
	
	{% endembed %}
	
	{% embed 'bootstrap/panel.html.twig' %}

	{% set x = gameview.location.getX() %}
	{% set y = gameview.location.getY() %}
	{% block header %}
		Location detail ({{ gameview.location  }})
	{% endblock %}

	{% block content %}
		{% set oTile = gameview.map.getTile( x, y ) %}
		{{ printo(oTile, { gameview: gameview } ) }}
		
	{% endblock %}
	
	{% endembed %}
			
	{% if city != null %}
	{% embed 'bootstrap/panel.html.twig' %}
	{% block header %}
		City at {{ gameview.location }}
	{% endblock %}
	{% block content %}
		{{ printo(city) }}
	{% endblock %}
	{% endembed %}
	{% endif %}
</div>
</div>
{% endblock %}
