<h4>City {{ o.label }}</h4>
population : {{ o.getPopulation().getQuantity() }} 
(+{{ o.getPopulation().getGrowth() }})<br>
<table class="table">
<thead>
	<tr>
		<th>Ressource</th>
		<th>Price modifier</th>
		<th>Price</th>
	</tr>
</thead>
<tbody>
{% for oDemand in o.getDemandAr() %}
	<tr>
		<td>
			{{ printo(oDemand.getRessource()) }}
		</td>
		<td>
			{{ oDemand.getPriceModifier()*100 }} %
		</td>
		<td>
			{{ oDemand.getPrice() }}
		</td>
	</tr>
{% endfor %}
</tbody>
</table>