{% import 'homeplanet/macro/commun.twig' as commun %}
<div class="card small text-left">
<div class="card-header bg-aspect-{{ o.tailRequire.type|default('') }}">
	<div class="row justify-content-between">
		<strong class="col col-auto">{{ o.label|capitalize }}</strong>
		<span class="bg-dark text-center rounded-circle medal-debate border-aspect-{{ o.tailRequire.type|default('') }}">
			{{ o.addDebate.value|default('&empty;')|raw }}
		</span>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
	<div class="col-12">
		<p>{{ o.description }}</p>
		{% for effect in o.effectAr %}
			{{ printo(effect) }}
		{% endfor %}
	</div>
	<div class="w-100"></div>
	{% if o.tailModifier != null %}
	{% for type in o.tailModifier.typeAr %}
	<div class="col {{ param.oTurnLog is defined and param.oTurnLog.tailCountered( param.iCharIndex ) ? 'countered' }}">
		<div class=" py-2 bg-aspect-{{type}}"></div>
	</div>
	{% endfor %}
	{% endif %}
	</div>
	</div>
</div>

