{% import 'homeplanet/macro/commun.twig' as commun %}
<div class="card card-expression small">
<div class="card-header bg-aspect-{{ o.tailRequire.type|default('') }}">
</div>
<div class="card-block">
	<strong>{{ o.label|capitalize }}</strong>
	<div class="float-right">
	{% if o.requirement() == null %}
		<span class="text-muted lead">&empty;</span>
	{% else %}
		{{ printo( o.requirement(), { 
			context: param.context|default(null),
		} ) }}
	{% endif %}
	</div>
	<p>{{ o.description }}</p>
	{% for effect in o.effectAr %}
		{{ printo(effect) }};
	{% endfor %}
</div>
</div>

