{% import 'homeplanet/macro/commun.twig' as commun %}


<div class="row">
<div class="col-xs-4">
	<img class="img-responsive" src="{{ commun.icon_entitytype(o.type) }}">
</div>
<div class="col-xs-8">
	<h4>
		#{{ o.getId() }} {{ o.type.label|capitalize() }} 
		<small class="pull-right">
			Lvl.{{ o.grade }}
		</small>
	</h4>
	({{ o.getLocationAr()|join(';') }})
	
	{% for oProduction in o.getProductionAr() %}
		{{ printo(oProduction) }}
	{% endfor %}
</div>
</div>

