{% import 'homeplanet/macro/commun.twig' as commun %}


<div class="row">
<div class="col-xs-4">
	<img class="img-responsive" src="{{ commun.icon_entitytype(o.type) }}">
</div>
<div class="col-xs-8">
	<h4>
		#{{ o.getId() }} {{ o.getType().getLabel() }} 
	</h4>
	({{ o.getLocationAr()|join(';') }})
	
	{% for oProduction in o.getProductionAr() %}
		{{ printo(oProduction.getType()) }}
		{% if( oProduction.getType().getRessource().getId() == 1 ) %}
			{% if oProduction.getRatioMax() < 1 %}
				<p class="bg-danger">
					Working at 
					{{ (oProduction.getRatioMax()*100)|round }}%
					efficiency.<br>
					Require ressources or buyer.
				</p>
			{% endif %}
		{% else %}
			{% if oProduction.getRatioMax() < 1 %}
				<p class="bg-danger">
					Working at 
					{{ (oProduction.getRatioMax()*100)|round }}%
					efficiency.<br>
					Require ressources.
				</p>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>
</div>

